<div >  <!--ng-controller="HpRPMController as motor"-->
      <!--if I use motor.syntax, I need to use this. syntax in controller-->
        
        <br/>
        <b>HP:</b>
            <select ng-model="hpSelected" ng-options="hp for hp in hps" ng-change="outTorqueCalc()"></select>
        <br/> <br/>
        <b>RPM:</b>
            <input type="number" min="0"  ng-model="rpm" ng-change="outTorqueCalc()"></input>
        <br/> <br/>
        <b>Output Torque</b> &nbsp; {{outTorqueLbFt | number:2}} (lb-ft) &nbsp; &nbsp;
        {{outTorqueLbFt * 12 | number:2}} (lb-in)
        <!--<b>Output Torque  </b> (lb-ft): <p class="sellPriceBox">{{outTorqueLbFt | number:2}}</p>
        (lb-in): <p class="sellPriceBox">{{outTorqueLbFt * 12 | number:2}}</p>-->
        <br/>
        
<!--<p class="sellPriceBox">{{cost / .9 | currency:"$"}}</p>-->
</div>
